.align-input{
  display: flex;
  align-items: baseline;
  input{
    margin-right: 10px;
  }
}

#legal-notice{
  .btn-generate{
    border: none !important;
    .generate{
      width: 50%;
      margin-left: 25%;
      text-transform: uppercase;
      background-color: #323c54;
      border: none;
    }
  }
  h2{
    width: 100%;
    text-align: center;
    color: #323c54;
    margin: 20px;
  }
  .form-group{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    label{
      width: 100%;
    }
    input{
      border: none;
      background-color: rgba(0,0,0,0.1);
      width: 715px;
    }
  }
  label{
    font-weight: bold;
  }
  .form-container{
    border: 2px solid #333;
    padding: 15px;
    border-radius: 8px;
    width: 750px;
    margin-bottom: 30px;
    overflow: hidden;
    h2{
      font-size: 22px;
      background-color: #323c54;
      width: 800px;
      text-align: center;
      color: #fff;
      padding-top: 15px;
      padding-bottom: 10px;
      margin-left: -50px;
      margin-top: -20px;
    }
  }
}

.mentions-section{
  margin-bottom: 30px;
}

.flex{
  .form-group input{
    width: 325px !important;
  }
  display: flex;
  justify-content: center;
  .realisateur{
    margin-right: 0 !important;
    margin-left: 15px !important;
  }
  .form-container{
    width: 360px !important;
    margin-right: 15px;
    margin-left: 0;
    h2{
      width: 425px !important;
      small{
        font-size: 12px;
      }
    }
  }
}