#privacy-policy ol {
  counter-reset: item;
  list-style-type: none;
}
#privacy-policy ol > li {
  display: flex;
}
#privacy-policy ol > li:before {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #323c54;
  padding: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: -30px;
  padding-left: 9px;
  padding-top: 0;
  content: counter(item) "  ";
  counter-increment: item
}


#privacy-policy ol > li.puce-center:before{
padding-left: 3px !important;
}

#privacy-policy{
  .generate{
    width: 50%;
    margin-left: 25%;
    text-transform: uppercase;
    background-color: #323c54;
    border: none;
    margin-bottom: 100px;
  }
  h2{
    width: 100%;
    text-align: center;
    color: #323c54;
    margin: 20px;
  }
  ol > li {
    border: 2px solid #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}
.align-input{
  display: flex;
  align-items: baseline;
  input{
    margin-right: 10px;
  }
}
