
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//privacy policy
@import 'privacy-policy';

//legal notice
@import 'legal-notice';



// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.row{
  margin: 0 !important;
}

.form-container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-top: -5px;
  margin-left: 30px;
  width: 300px;
  height: auto;
}

.home-btn{
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  &:hover{
    color: white;
    text-decoration: none;
  }
}
.home{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: #323c54;
  .logo-home{
    margin-top: 25px;
    width: 350px;
    margin-left: 25px;
    height: auto;
    margin-bottom: 50px;
  }
  .legal-btn{
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #323c54;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    margin-bottom: 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}
.message{
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.display{
  display: none !important;
}


.message span {
  color: transparent;
  animation: blur 10s ease-out infinite;
  -webkit-animation: blur 10s ease-out infinite;
}

.message span:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.message span:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.message span:nth-child(3) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.message span:nth-child(4) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.message span:nth-child(5) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.message span:nth-child(6) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.message span:nth-child(7) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

@keyframes blur {
  0%		{text-shadow:  0 0 100px #fff; opacity:0;}
  5%		{text-shadow:  0 0 90px #fff;}
  15%		{opacity: 1;}
  20%		{text-shadow:  0 0 0px #fff;}
  80%		{text-shadow:  0 0 0px #fff;}
  85%		{opacity: 1;}
  95%		{text-shadow:  0 0 90px #fff;}
  100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}

@-webkit-keyframes blur {
  0%		{text-shadow:  0 0 100px #fff; opacity:0;}
  5%		{text-shadow:  0 0 90px #fff;}
  15%		{opacity: 1;}
  20%		{text-shadow:  0 0 0px #fff;}
  80%		{text-shadow:  0 0 0px #fff;}
  85%		{opacity: 1;}
  95%		{text-shadow:  0 0 90px #fff;}
  100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}
